@import "tailwindcss";

html,
body {
  scroll-behavior: smooth;
}

.gradient-bg {
  background: linear-gradient(90deg, #166534 0%, #22c55e 100%);
}

.box-shadow-custom {
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}
